<?xml version="1.0" encoding="UTF-8"?>
<launch>
    

        
        <!-- Robot model -->
      <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find mastering_ros_robot_description_pkg)/urdf/seven_dof_arm.xacro'" />
      
      <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
      <node name="executable1" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model seven_dof_arm"/>




          
</launch>